svg {
  display: block;
}

.line {
  fill: none;
  stroke: darkblue;
  stroke-width: 1px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.y.axis path {
  display: none;
}

.green {
  color: darkgreen;
}

.graphWrapper {
  width: 50%;
  float: left;
}

.title {
  font-size: 16px;
}

.border {
  border: 1px solid darkgrey;
  padding: 15px;
  border-radius: 5px;
}